.App {
  text-align: center;
  overflow-y: hidden;
}

.background{
  background-color: aqua;
  border: 2px solid black;
  width: 40%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3em;
  padding: 15px;
}


.button{
  border-radius: 30px;
  padding: 10px 30px;
  background-color: bisque;
  cursor: pointer;
}

.button:hover{
  background-color: chocolate;
}

.box{
  border: 2px solid black;
  width: 40% ;
  margin: auto;
  margin-top: 2em;
 
  padding: 15px;
}

.box1{
  background-color: skyblue;
}

.box2{
  background-color: cornflowerblue;
  margin-bottom: 1em;
}